asgiref==3.3.1
Django==3.1.7
pytz==2021.1
sqlparse==0.4.1
scipy
pandas>=1
matplotlib>=3.3
numpy>=1.18
numba==0.52
seaborn>=0.10
keyring
pkginfo
tqdm
docutils
jedi==0.17.2
networkX
osmnx
ipyleaflet
python-dotenv
scikit-learn
django-rest-framework
django-cors-headers