html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #6c757d;
}

.centered {
  justify-content: center;
}

.hasNavBar {
  padding: 70px;
}

.card {
  padding: 2em;
}

.no-margin {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
  margin-top: 50px;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.react-flow__node {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.submit-button {
  position: absolute;
  bottom: 3%;
  right: 1%;
  font-size: 2rem;
  padding: 10px 30px; /* Adjust padding as needed */
  width: 150px; /* Set a fixed width */
  height: 70px; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.textbox {
  margin: 4px;
}

.inputbox {
  margin: 4px;
}

.white {
  background: white;
}

.upper_textbox {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0px;
  padding-bottom:0px;
}

.small_text {
  font-size: 7px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}